.footer {
    padding: 110px 0 130px;
    background: #252C25;
    color: #FFFFFF;
    &__inner {
        display: flex;
    }
    &__logo {
        display: block;
        width: 150px;
        img {
            width: 100%;
        }
    }
    .language {
        margin-left: -30px;
        &-show--active {
            &:before {
                background: #313931;
            }
        }
    }
    &__save {
        font-size: 15px;
        line-height: 150%;
        margin-top: 33px;
    }
    &__col {
        &:nth-child(1),
        &:nth-child(2) {
            margin-right: 115px;
        }
        &:nth-child(4) {
            margin-left: auto;
        }
    }
    &__nav {
        &-item {
            font-size: 15px;
            line-height: 200%;
            display: block;
            white-space: nowrap;
            &:hover {
                color: #86A876;
            }
        }
    }
    &__privacy {
        display: block;
        margin-top: 6px;
        font-size: 15px;
        line-height: 200%;
        text-decoration-line: underline;
        color: #86A876;
    }
    &__socials {
        margin-top: 32px;
        display: flex;
        align-items: center;
        a {
            &:not(:last-child) {
                margin-right: 38px;
            }
        }
    }
    &__btn {
        background: #86A876;
        height: 47px;
        min-width: 174px;
        padding: 0 33px;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__col:nth-child(1),
        &__col:nth-child(2) {
            margin-right: 40px;
        }
    }
}